html(ng-app='comprehensions')
  head
    title
    script(src='./scripts/bundle.js')
    link(rel='stylesheet' href='./styles/styles.css')
  body(ng-controller='mainCtrl as vm')
    form(name='comprehension' ng-submit='vm.submit()')
      label Pattern
      input(type='text' name='pattern' ng-model='vm.pattern' required)
      label Predicates
      input(type='text' name='predicates' ng-model='vm.predicates')
      input(type="submit" id="submit" value="Submit")

    h1 {{ vm.comprehension }}

    div {{ vm.comprehension.pattern }}
