doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title jQuery UI Resizable - Visual feedback
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.js')
    link(rel='stylesheet', href='./styles/styles.css')
    script(src='./scripts/main.js')
  body
  
    form#comprehension-form
      label lambda x:
      input(type='text' name='lambda' required)
      label Predicates
      input(type='text' name='predicates')
      input(type="submit" id="submit")
      #err 
      
    #resize-parent
      #resizable.ui-widget-content
    .content(style="width:100vh; height: 100px;")
