doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title jQuery UI Resizable - Visual feedback
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.js')
    link(rel='stylesheet', href='./styles/styles.css')
    script(src='./scripts/main.js')
  body
    #controls
      h1 List Control:
      
      h4 Array Comprehension:
      <p>&nbsp&nbsp &nbsp &nbsp &nbsp &nbsp&nbsp  <i> lambda argument&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp min&nbspmax&nbsp&nbsp  &nbsp predicates</i></p>
      form#comprehension-form
        label my_list = [
        input#lambda(type='text' name='lambda' required)
        label for x in range(
        input#min(type='text' name='min' required)
        label , 
        input#max(type='text' name='max' required)
        label )
        input#predicates(type='text' name='predicates')
        label ]
        input(type="submit" id="submit")
        #err 
        
    #display
      p#list my_list = []
        
