body {
  font-family: monospace;
}

form {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;

  #lambda {
    border: none;
    border-bottom: 1px dotted black;
    text-align: center;
    margin-right: 3px;

  }

  #min {
    border: none;
    border-bottom: 1px dotted black;
    text-align: center;
    width: 20px;

  }

  #max {
    border: none;
    border-bottom: 1px dotted black;
    width: 20px;

  }

  #predicates {
    margin-left: 3px;
    border: none;
    border-bottom: 1px dotted black;
    text-align: center;

  }

  #submit {
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
  }
}

#list {
  word-wrap: break-word;
}

#controls {
  padding-bottom: 20px;
  border-bottom: 2px dashed #aaa;
}

#lambda-map {
  margin-left: 3px;
  border: none;
  border-bottom: 1px dotted black;
  text-align: center;
}

#submit-map {
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
}

#err {
  color: red;
  margin-top: 10px;
}
